---
layout: default
title: Home
---
{% assign page_category = site.data.category_list[page.category] %}

  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-xl">
          <div class="column col-12">
            <h2 class="text-secondary">Demonstration Video</h2>
          </div>
              <div class="column col-12">
                <div class="card">
                  <div class="card-body">
                    <iframe 
                    src="https://northeastern-my.sharepoint.com/personal/polesemi_northeastern_edu/_layouts/15/embed.aspx?UniqueId=4029086d-ce3d-4850-ac0a-fc781803dc18&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="x5g-v2.mp4">
                    </iframe>
                  </div>
                </div>
          </div>
   

          {% for category in site.data.category_list %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          {% assign page_category = site.data.category_list[category_name] %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ category_name | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ page_category.name }}</h5>
                      
                  {% if category[1].size == 1 %}
                  <p class="m-0">{{ category | last | size }} article</p>
                  {% else %}
                  <p class="m-0">{{ category | last | size }} articles</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
          {% endfor %} 

          {% include more-help.html %}
        </div>
      </div>
    </div>