---
layout: default
title: Home
---
{% assign page_category = site.data.category_list[page.category] %}
  {% include header.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-xl">
          <div class="column col-12">
            <h2 class="text-light text-bold">Publications</h2>
            <p class="text-light mb-0"></p>
          </div>
          <div class="column col-12">
            <div class="card">
              <div class="card-body">
                <!-- <p class="text-justify">
                  X5G is  the first 8-node network deployment of the NVIDIA Aerial Research Cloud (ARC), with the Aerial SDK for the PHY layer, accelerated on Graphics Processing Unit (GPU), and through its integration with higher layers from the OpenAirInterface (OAI) open-source project through the Small Cell Forum Functional Application Platform Interface (FAPI).
                </p> -->
                <!-- <p class="text-justify">
                  Please Checkout our paper accepted at IEEE INFOCOM NG-OPERA 2024!
                </p> -->
                  <blockquote>
                    <p class="text-justify">
                      D. Villa, I. Khan, F. Kaltenberger, N. Hedberg, R. Soares da Silva, S. Maxenti, L. Bonati, A. Kelkar, C. Dick, E. Baena, J. M. Jornet, T. Melodia, M. Polese, and D. Koutsonikolas,
                      <em>"X5G: An Open, Programmable, Multi-vendor, End-to-end, Private 5G O-RAN Testbed with NVIDIA ARC and OpenAirInterface,"</em>
                      arXiv:2406.15935 [cs.NI], pp. 1-15, June 2024.
                      <a href="https://arxiv.org/pdf/2406.15935.pdf" target="_blank">[pdf]</a>
                      <a href="https://ece.northeastern.edu/wineslab/wines_bibtex/villa2024x5gtmc.txt" target="_blank">[bibtex]</a>
                    </p>
                  </blockquote>

                  <blockquote>
                    <p class="text-justify">
                      D. Villa, I. Khan, F. Kaltenberger, N. Hedberg, R. Soares da Silva, A. Kelkar, C. Dick, S. Basagni, J. M. Jornet, T. Melodia, M. Polese, and D. Koutsonikolas,
                      <em>"An Open, Programmable, Multi-vendor 5G O-RAN Testbed with NVIDIA ARC and OpenAirInterface,"</em>
                      Proc. of the 2nd IEEE Workshop on Next-generation Open and Programmable Radio Access Networks (NG-OPERA),
                      Vancouver, BC, Canada, May 2024.
                      <a href="https://arxiv.org/pdf/2310.17062.pdf" target="_blank">[pdf]</a>
                      <a href="https://ece.northeastern.edu/wineslab/wines_bibtex/villa2024x5g.txt" target="_blank">[bibtex]</a>
                    </p>
                  </blockquote>

                  <blockquote>
                    <p class="text-justify">
                      Jornet, J.M., Petrov, V., Wang, H., Popović, Z., Shakya, D., Siles, J.V. and Rappaport, T.S,
                      <em>"The Evolution of Applications, Hardware Design, and Channel Modeling for Terahertz (THz) Band Communications and Sensing: Ready for 6G?",</em>
                      Proceedings of the IEEE, doi: 10.1109/JPROC.2024.3412828.
                      <!-- <a href="https://arxiv.org/pdf/2310.17062.pdf" target="_blank">[pdf]</a>
                      <a href="https://ece.northeastern.edu/wineslab/wines_bibtex/villa2024x5g.txt" target="_blank">[bibtex]</a> -->
                    </p>
                  </blockquote>

                  <blockquote>
                    <p class="text-justify">
                      Polese, M., Dohler, M., Dressler, F., Erol-Kantarci, M., Jana, R., Knopp, R. and Melodia, T., 
                      <em>"Empowering the 6G Cellular Architecture With Open RAN,,"</em>
                      IEEE Journal on Selected Areas in Communications, vol. 42, no. 2, pp. 245-262, Feb. 2024, doi: 10.1109/JSAC.2023.3334610.
                      <!-- <a href="https://arxiv.org/pdf/2310.17062.pdf" target="_blank">[pdf]</a>
                      <a href="https://ece.northeastern.edu/wineslab/wines_bibtex/villa2024x5g.txt" target="_blank">[bibtex]</a> -->
                    </p>
                  </blockquote>

                  <blockquote>
                    <p class="text-justify">
                      Groen, J., D'Oro, S., Demir, U., Bonati, L., Villa, D., Polese, M., Melodia, T. and Chowdhury, K., 
                      <em>"Securing O-RAN Open Interfaces,"</em>
                      IEEE Transactions on Mobile Computing, doi: 10.1109/TMC.2024.3393430.
                      <!-- <a href="https://arxiv.org/pdf/2310.17062.pdf" target="_blank">[pdf]</a>
                      <a href="https://ece.northeastern.edu/wineslab/wines_bibtex/villa2024x5g.txt" target="_blank">[bibtex]</a> -->
                    </p>
                  </blockquote>

                </div>
              </div>
            </a>
          </div> 
    

          {% for category in site.data.category_list %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          {% assign page_category = site.data.category_list[category_name] %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ category_name | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ page_category.name }}</h5>
                      
                  {% if category[1].size == 1 %}
                  <p class="m-0">{{ category | last | size }} article</p>
                  {% else %}
                  <p class="m-0">{{ category | last | size }} articles</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
          {% endfor %} 

          {% include more-help.html %}
        </div>
      </div>
    </div>