---
layout: default
title: Home
---
{% assign page_category = site.data.category_list[page.category] %}
  {% include header.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-xl">
          <div class="column col-12">
            <h2 class="text-light text-bold">Architechture</h2>
            <p class="text-light mb-0"></p>
          </div>
          <div class="column col-12">
            <div class="card">
              <div class="card-body">
                <!-- <p class="text-justify">
                  X5G is the first 8-node network deployment of the NVIDIA Aerial Research Cloud (ARC), with the Aerial SDK for the PHY layer, accelerated on Graphics Processing Unit (GPU), and through its integration with higher layers from the OpenAirInterface (OAI) open-source project through the Small Cell Forum Functional Application Platform Interface (FAPI).
                </p> -->
                <!-- <p class="text-justify">
                  Please Checkout our <a href="https://arxiv.org/pdf/2310.17062.pdf">paper</a> accepted at INFOCOM NG-OPERA 2024!
                </p> -->
                <!-- <p>
                  X5G is organized by a team at the Institute for the Wireless Internet of Things, Northeastern University.
                </p> -->
                <div class="team-columns">
                  <div class="team-column">
                    <img style="max-width: auto" src="/assets/x5g-e2e-overview.jpg"/>
                  </div>
              </div>
            </div>
          </div>
        </a>
      </div> 
          {% for category in site.data.category_list %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          {% assign page_category = site.data.category_list[category_name] %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ category_name | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ page_category.name }}</h5>
                      
                  {% if category[1].size == 1 %}
                  <p class="m-0">{{ category | last | size }} article</p>
                  {% else %}
                  <p class="m-0">{{ category | last | size }} articles</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
          {% endfor %} 

          {% include more-help.html %}
        </div>
      </div>
    </div>